body {
    text-align: center;
}

button {
    border: none;
    margin: 5px;
}

p {
    font-size: 20px;
}

form {
    width: 200px;
    display: inline-block;
}

.countDownContainer {
    font-size: 30px;
    margin-left: 10px;
}

.nav-item {
    float: right;
}

li {
    list-style-type: decimal;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
  }

  nav ul li {
    display: inline-block;
    margin-left: 25px;
  }
